<div class="container">
    <div class="main_inner">
        <h1><em class="fa fa-plus-circle"> Crear una función</em></h1>

        <form method="POST" action="/addfunction" novalidate>
            {{> funct-form}}

            <div class="btn_form">
                <button name="btnInsert">Insertar</button>
            </div>
        </form>
    </div>
</div>