<div class="container">
    <div class="main_inner">
        <h1><em class="fa fa-plus-circle">Crear una clase</h1>

        <form method="POST" action="/addclass" novalidate>
            {{> newclass-form}}

            <div class="btn_form">
                <button name="btnCreateClass" class="btn btn-primary">Insertar Clase</button>
            </div>
        </form>
    </div>
</div>