<div class="container">
    <div class="main_inner">
        <h3>Actualizar una función</h3>

        {{#each post}}
        <form method="POST" action="/editfunction/{{this.id}}" novalidate>
            {{> funct-form}}

            <div class="btn_form">
                <button name="btnInsert">Actualizar</button>
            </div>
        </form>
        {{/each}}
    </div>

    <script src=" /js/main.js"></script>
</div>