<div class="container">
    <h4>Acceso JS Chef</h4>

    <div class="form_container">
        <form method="POST" action="/auth/login">

            <label for="email">Email</label>
            <input type="email" name="email" class="email">

            <label for="password">Contraseña</label>
            <input type="password" name="password" class="password" id="pswLogin">

            <input type="checkbox" id="tooglePswLogin">Ver Contraseña

            <div class="btn_form">
                <button>Acceder</button>
            </div>
        </form>
    </div>

    {{#if message}}
    <div class="alert">
        <span class="closebtn"
            onclick="this.parentElement.style.display='none';">&times;</span><strong>{{message}}</strong>
    </div>
    {{/if}}
</div>

<script src="/js/pswLogin.js"></script>