<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <h2>sachic</h2>

            <div class="avatar-ctn">
                <img src="/avatar.png" class="avatar" alt="foto de perfil de usuario">
            </div>

            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>

            <div class="btn_form">
                <button>sachic@email.com</button>
            </div>

        </div>
    </div>
</body>

</html>