<div class="container">
    <h4>JS Chef</h4>

    <form method="POST" action="/auth/register">

        <label for="name">Nombre</label>
        <input type="text" name="name">

        <label for="email">Email</label>
        <input type="email" name="email">

        <label for="password">Contraseña</label>
        <input type="password" name="password">

        <label for="passwordConfirm">Confirmar contraseña</label>
        <input type="password" name="passwordConfirm">

        <div class="btn_form">
            <button class="btn btn-primary">Registrarse</button>
        </div>
    </form>

    {{#if message}}
    <div class="alert">
        <span class="closebtn"
            onclick="this.parentElement.style.display='none';">&times;</span><strong>{{message}}</strong>
    </div>
    {{/if}}
</div>