<div class="container">
    <h4>Registrarse a JS Chef</h4>

    <div class="form_container">
        <form method="POST" action="/auth/register">
            <label for="name">Nombre</label>
            <input type="text" class="name" name="name">

            <label for="email">Email</label>
            <input type="email" class="email" name="email">

            <label for="password">Contraseña</label>
            <input type="password" name="password" class="password" id="psw"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Debe contener al menos un número y una letra mayúscula y una minúscula, y al menos 8 caracteres">

            <div class="checkPassword">
                <input type="checkbox" id="tooglePassword">Ver Contraseña
            </div>

            <label for="passwordConfirm">Confirmar contraseña</label>
            <input type="password" name="passwordConfirm" class="passwordConfirm">

            <div class="btn_form">
                <button>Registrarse</button>
            </div>
        </form>
    </div>

    {{#if message}}
    <div class="alert">
        <span class="closebtn"
            onclick="this.parentElement.style.display='none';">&times;</span><strong>{{message}}</strong>
    </div>
    {{/if}}

    <div id="message-password">
        <p>La contraseña debe contener al menos lo siguiente:</p>
        <p id="letter" class="invalid">Una letra <b>minúscula</b></p>
        <p id="capital" class="invalid">Una letra <b>mayúscula</b></p>
        <p id="number" class="invalid">Un <b>número</b></p>
        <p id="lengthPsw" class="invalid">Mínimo <b>8 caracteres</b></p>
    </div>
</div>

<script src="/js/pswRegistrate.js"></script>