<div class="container">
    <div class="main">
        {{#each rows}}
        <h3>Nombre</h3>
        <p>{{this.class_name}}</p>

        <h3>Fecha creación</h3>
        <p>{{this.created_at}}</p>
        {{/each}}
    </div>
</div>